@font-face {
  font-family: 'iranyekanmedium';
  src: url('/fonts/fa/IRANYekanWeb-Medium.woff2') format('woff2'),
       url('/fonts/fa/IRANYekanWeb-Medium.woff') format('woff'),
       url('/fonts/fa/IRANYekanWeb-Medium.ttf') format('truetype'),
       url('/fonts/fa/IRANYekanWeb-Medium.eot') format('embedded-opentype');
  
}





@font-face {
  font-family: 'yekan';
  src: url('/fonts/fa/YekanBakhFaNum-Regular.woff2') format('woff2'),
       url('/fonts/fa/YekanBakhFaNum-Regular.woff') format('woff'),
       url('/fonts/fa/YekanBakhFaNum-Regular.ttf') format('truetype'),
       url('/fonts/fa/YekanBakhFaNum-Regular.eot') format('embedded-opentype');
  
}
  
  
  :root {
    --font-family: iranyekanmedium;
  }