.slider {
  width: 100%;
  height: 60vh;
}

/* Swiper wrapper */
.swiper {
  width: 100%;
  height: 100%;
}

/* استایل اسلایدها */
.my-custom-swiper .swiper-slide {
  text-align: center;
  font-size: 13px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* عکس داخل اسلاید (اگر داشته باشی) */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* دکمه‌های ناوبری */
.custom-story-swiper .swiper-button-next,
.custom-story-swiper .swiper-button-prev{
  width: 40px !important;
  height: 40px !important;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: rgba(248, 245, 245, 0.979);
  box-shadow: 0px 0px 2px lightgray;
}

/* آیکون داخل دکمه‌ها */
.custom-story-swiper .swiper-button-next:after,
.custom-story-swiper .swiper-button-prev:after {
  font-size: 12px !important;
  font-weight: bold;
  color: black;
}

/* مخفی کردن دکمه وقتی غیرفعاله */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
