/* centermenu.css */

/* اگر می‌خوای container اسلایدر رو محدود کنی */
.slider {
  width: 100%;
  height: 60vh;
}

/* Swiper wrapper */
.swiper {
  width: 100%;
  height: 100%;
}

/* استایل اسلایدها */
.my-custom-swiper .swiper-slide {
  text-align: center;
  font-size: 13px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* عکس داخل اسلاید (اگر داشته باشی) */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* دکمه‌های ناوبری */
.custom-amazing-swiper .swiper-button-next,
.custom-amazing-swiper .swiper-button-prev{
  width: 40px !important;
  height: 40px !important;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: rgba(233, 204, 204, 0.979);
  box-shadow: 0px 0px 2px lightgray;
}

/* آیکون داخل دکمه‌ها */
.custom-amazing-swiper .swiper-button-next:after,
.custom-amazing-swiper .swiper-button-prev:after {
  font-size: 12px !important;
  font-weight: bold;
  color: black;
}

/* مخفی کردن دکمه وقتی غیرفعاله */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.amazingactive {
    background-color: #ef3c51 !important;
    .item_link {
      font-family: var(--font-family) !important;
      text-decoration: none !important;
      color: whitesmoke !important;
      font-size: 13px !important;
    }
  }
 .BRtrbr {
    border-radius: 0 15px 15px 0 !important;
  }
  .BRtlbl {
    border-radius: 15px 0 0 15px !important;
    display: flex !important;
    flex-flow: column wrap !important;
  }
  .child_svg_slide13 {
    position: absolute !important;
    left: calc(50% - 52px / 2) !important;
    bottom: calc(50% - 60px) !important;
    
  }