

/* اگر می‌خوای container اسلایدر رو محدود کنی */

/* Swiper wrapper */
.swiper {
  width: 100% !important;
  height: 100% !important;
}

/* استایل اسلایدها */
.my-slider-swiper .swiper-slide {
  text-align: center;
  font-size: 13px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* عکس داخل اسلاید (اگر داشته باشی) */
.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

/* دکمه‌های ناوبری */
/* پوزیشن نسبی برای کنترل دکمه‌ها داخلش */
.custom-slider-swiper {
  position: relative !important;
}

/* کانتینر برای نگهداری دکمه‌ها کنار هم */
.custom-slider-swiper .swiper-button-next,
.custom-slider-swiper .swiper-button-prev {
  position: absolute !important;
  top: 360px !important; /* فاصله از پایین اسلایدر */
  z-index: 10 !important;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/* دکمه قبلی سمت چپ دکمه بعدی */
.custom-slider-swiper .swiper-button-prev {
  right: 70px; /* فاصله از راست */
}

/* دکمه بعدی سمت راست */
.custom-slider-swiper .swiper-button-next {
  right: 20px;
}

/* آیکون داخل دکمه‌ها */
.custom-slider-swiper .swiper-button-next:after,
.custom-slider-swiper .swiper-button-prev:after {
  font-size: 14px;
  color: #333;
}


/* مخفی کردن دکمه وقتی غیرفعاله */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.3;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: gray;
  opacity: 0.5;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin: 0 3px;
}

/* دکمه فعال */
.swiper-pagination-bullet-active {
  width: 16px; /* کمی عریض‌تر */
  background: rgb(250, 250, 250); /* رنگ متفاوت برای تاکید */
  opacity: 1;
  border-radius: 6px;
}